$color1: #fabc1d;
$color2: #000000;
$color3: #ffffff;//#479e9c;
$color4: #f15d49;
$color5: #ffffff;

body {
    background-color: $color1;
}
main {
    margin-top: 15%;
}
.hidden {
    display: none;
}
.fourofour {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .itemTitle {
        font-family: "Lilita One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 50px;
        margin: 0;
    }
    .image404 {
        border: 3px solid $color2;
        border-radius: 12px;
        width: 600px;
        height: 400px;
        overflow: hidden;
        .i404mg {
            width: 100%;
        }
    }
    .description__container {
        width: 70%;
        background-color: $color3;
        border: 3px solid black;
        border-radius: 12px;
        padding: 10px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        .itemParagraph {
            text-align: center;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            margin: 0;
            ul {
                margin: 0;
            }
        }
    }
}
.product__container {
    display: flex;
    justify-content: space-evenly;
    div {
        .backArrow {
            background-color: $color4;
            border-radius: 12px;
            border: 0px;
            font-size: 20px;
            border: 3px solid $color2;
            width: auto;
            font-family: "Lilita One", sans-serif;
            font-weight: 400;
            font-style: normal;
            color: $color5;
            cursor: pointer;
            text-decoration: none;
            padding: 10px;
        }
        .backArrow:hover {
            color: $color2;
        }
    }
    .image__container {
        margin-top: 40px;
        width: 450px;
        height: 650px;
        overflow: hidden;
        border: 3px solid $color2;
        border-radius: 12px;
        img {
            width: 100%;
        }
    }
    .text__container {
        align-items: center;
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .back {
            padding: 10px 10% 10px 10%;
            background-color: $color4;
            border-radius: 12px;
            border: 0px;
            font-size: 18px;
            border: 3px solid $color2;
            width: auto;
            font-family: "Lilita One", sans-serif;
            font-weight: 400;
            font-style: normal;
            color: $color5;
            cursor: pointer;
        }
        .back:hover {
            color: rgb(0, 0, 0);
        }
        .itemSubtitle {
            font-family: "Lilita One", sans-serif;
            font-weight: 400;
            font-style: normal;
            color: $color1;
            margin: 0;
            margin-bottom: 15px;
        }
        .itemTitle {
            font-family: "Lilita One", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 50px;
            margin: 0;
        }
        .description__container {
            width: 70%;
            background-color: $color3;
            border: 3px solid black;
            border-radius: 12px;
            padding: 10px;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            .itemParagraph {
                text-align: justify;
                font-family: "Poppins", sans-serif;
                font-weight: 400;
                font-style: normal;
                margin: 0;
                ul {
                    margin: 0;
                }
            }
        }


    }
}
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 912px)  { 

    .fourofour {
        height: 90vh;
        .image404{
            width: 300px;
            height: 190px;
        }
    }
    .product__container {
        height: 150vh;
        margin-top: 30%;
        flex-direction: column;
        align-items: center;
        .image__container {
            width: 300px;
            height: 400px;
        }
        .text__container {
            width: 95%;
            height: 100%;
            .itemTitle {
                text-align: center;
            }
            .description__container {
                text-align: center;
                .itemParagraph {
                    text-align: center;
                }
            }
        }
    }
}

