/* Style de base */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif; /* Police de secours */
    height: 100%;
}

/* En-tête */
header {
    background-color: #4dd9b6; 
    position: fixed;
    z-index: 5;
    width: 100%;
}

#menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
}

.logo img {
    height: 50px;
}

.nav-links {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    margin-left: 20px;
}

.nav-links a:hover {
    color: orange;
}

.nav-title {
    color: #ffffff; /* Couleur du texte */
    font-family: 'Lilita One', cursive; /* Police pour le titre */
    font-size: 24px; /* Taille de la police */
    margin: 0; /* Supprimer les marges */
    text-align: center; /* Centrer le texte */
    position: absolute; /* Positionner de manière absolue */
    left: 50%; /* Positionner à 50% à partir de la gauche */
    transform: translateX(-50%); /* Déplacer vers la gauche de 50% pour centrer */
}


/* Section d'accueil */
.acceuil-background {
    height: 100vh;
    width: 100vw;  
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.acceuil-background img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
}

.text-acceuil {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    color: #ffffff; 
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.text-acceuil h1 {
    font-family: 'Lilita One', cursive; /* Titre avec Lilita One */
    font-size: 52px; 
    margin: 0 0 20px 0; 
}

.text-acceuil p {
    font-size: 19.2px; 
    margin: 0 0 20px 0; 
}

.cta-button {
    display: inline-block;
    color: #ffffff;
    background-color: #4dd9b6; 
    text-decoration: none;
    padding: 10px 10%;
    border-radius: 12px;
    border: none;
    font-size: 15px;
}

.cta-button:hover {
    background-color: #a5eefc;
}

/* Style général pour les sections de cocktails */
.cocktail-section {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    background-color: #efefef; 
    padding: 40px 20px; 
    margin: 20px 0; 
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Styles pour les contenus de cocktails */
.cocktail-content {
    display: flex;
    align-items: center; /* Centrer verticalement les éléments */
    width: 100%;
}

/* Uniformisation des images au format 9:16 */
.cocktail-image img {
    width: 300px; 
    height: 533px;  /* Format 9:16 */
    object-fit: cover; 
    border-radius: 10px;
    margin: 0 20px; /* Marge autour des images */
}

/* Alignement du texte */
.cocktail-text {
    flex: 1; /* Prend l'espace restant */
    padding: 0 20px; /* Ajout de padding pour espacer le texte des bords */
    display: flex; /* Utilisation de flex pour centrer verticalement */
    flex-direction: column; /* Orientation verticale des éléments */
    justify-content: center; /* Centre le texte verticalement */
}

.cocktail-text h2 {
    font-family: 'Lilita One', cursive; /* Applique la police Lilita One aux h2 */
    font-size: 24px; 
    margin-bottom: 15px;
}

.cocktail-text p {
    font-size: 16px; 
    line-height: 1.5; /* Augmente l'espacement entre les lignes */
}

/* Styles pour ajuster l'espacement global */
.cocktail-section {
    padding: 30px; /* Espacement interne */
}

/* Responsive Design */
@media (max-width: 768px) {
    .cocktail-content {
        flex-direction: column; /* Empile les éléments sur les petits écrans */
        align-items: center; /* Centre les éléments */
    }

    .cocktail-image img {
        width: 80%; /* Rendre les images plus larges sur mobile */
        height: auto; /* Ajuste la hauteur automatiquement */
    }

    .cocktail-text {
        text-align: center; /* Centre le texte sur mobile */
    }
}
