body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    padding: 0;

}

header {
    background-color: #4dd9b6; 
    position: fixed;
    z-index: 5;
    width: 100%;
}

#menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px ;
}

.logo {
    margin: 0;
}

.logo img {
    height: 50px;
}

.nav-links {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    margin-left: 20px;
}

.nav-links a:hover {
    color: orange;
}

.acceuil-background {
    height: 100vh; /* Hauteur de la fenêtre */
    width: 100vw;  /* Largeur de la fenêtre */
    overflow: hidden; /* Évite les barres de défilement */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .acceuil-background img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Recouvre tout l'espace sans déformation */
    position: absolute;
    top: 0;
    left: 0;
  }
  


  .text-acceuil {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); /* Ajuste la position au centre */
    text-align: center; 
    color: #ffffff; 
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.text-acceuil h1 {
    font-size: 48px; /* Taille du titre */
    margin: 0 0 20px 0; /* Espacement sous le titre */
}

.text-acceuil p {
    font-size: 19.2px; /* Taille du paragraphe */
    margin: 0 0 20px 0; /* Espacement sous le paragraphe */
}

.cta-button {
    display: inline-block;
    color: #ffffff;
    background-color: #4dd9b6; 
    text-decoration: none;
    width: auto;
    padding: 10px 10% 10px 10%;
    border-radius: 12px;
    border: 0px;
    font-size: 15px;
}

.cta-button:hover {
    background-color: #a5eefc;
}


/* Style général pour toutes les sections */
section {
    display: flex; /* Met les éléments en ligne (image + texte) */
    padding: 20px;
    align-items: center; /* Centre verticalement l'image et le texte */
}

/* Limite la taille des images */
.image img {
    max-width: 200px;
    height: auto; /* Conserve les proportions */
    border-radius: 12px;
}

/* Style spécifique pour la première section (image à gauche) */
.section-cocktail1 {
    background-color: #efefef; /* Fond bleu */
    color: white;
    padding: 150px;
}

/* Style spécifique pour la deuxième section (image à droite) */
.section-cocktail2 {
    background-color: #2ecc71; /* Fond vert */
    color: white;
    padding: 150px;
}

/* Optionnel : Espacement entre image et texte */
.image {
    margin-right: 20px; /* Pour la première section */
}

.section-cocktail2 .image {
    margin-left: 20px; /* Pour la deuxième section */
}
