body {
  background-color: #fabc1d;
}

main {
  margin-top: 15%;
}

.hidden {
  display: none;
}

.fourofour {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.fourofour .itemTitle {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin: 0;
}
.fourofour .image404 {
  border: 3px solid #000000;
  border-radius: 12px;
  width: 600px;
  height: 400px;
  overflow: hidden;
}
.fourofour .image404 .i404mg {
  width: 100%;
}
.fourofour .description__container {
  width: 70%;
  background-color: #ffffff;
  border: 3px solid black;
  border-radius: 12px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.fourofour .description__container .itemParagraph {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
.fourofour .description__container .itemParagraph ul {
  margin: 0;
}

.product__container {
  display: flex;
  justify-content: space-evenly;
}
.product__container div .backArrow {
  background-color: #f15d49;
  border-radius: 12px;
  border: 0px;
  font-size: 20px;
  border: 3px solid #000000;
  width: auto;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
}
.product__container div .backArrow:hover {
  color: #000000;
}
.product__container .image__container {
  margin-top: 40px;
  width: 450px;
  height: 650px;
  overflow: hidden;
  border: 3px solid #000000;
  border-radius: 12px;
}
.product__container .image__container img {
  width: 100%;
}
.product__container .text__container {
  align-items: center;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.product__container .text__container .back {
  padding: 10px 10% 10px 10%;
  background-color: #f15d49;
  border-radius: 12px;
  border: 0px;
  font-size: 18px;
  border: 3px solid #000000;
  width: auto;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  cursor: pointer;
}
.product__container .text__container .back:hover {
  color: rgb(0, 0, 0);
}
.product__container .text__container .itemSubtitle {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fabc1d;
  margin: 0;
  margin-bottom: 15px;
}
.product__container .text__container .itemTitle {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin: 0;
}
.product__container .text__container .description__container {
  width: 70%;
  background-color: #ffffff;
  border: 3px solid black;
  border-radius: 12px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.product__container .text__container .description__container .itemParagraph {
  text-align: justify;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
.product__container .text__container .description__container .itemParagraph ul {
  margin: 0;
}

footer {
  margin-top: 25px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 912px) {
  .fourofour {
    height: 90vh;
  }
  .fourofour .image404 {
    width: 300px;
    height: 190px;
  }
  .product__container {
    height: 150vh;
    margin-top: 30%;
    flex-direction: column;
    align-items: center;
  }
  .product__container .image__container {
    width: 300px;
    height: 400px;
  }
  .product__container .text__container {
    width: 95%;
    height: 100%;
  }
  .product__container .text__container .itemTitle {
    text-align: center;
  }
  .product__container .text__container .description__container {
    text-align: center;
  }
  .product__container .text__container .description__container .itemParagraph {
    text-align: center;
  }
}/*# sourceMappingURL=item.css.map */